body {
  font-family: "Roboto", sans-serif;
}

.custom-purple {
  background: #9d00ff;
  background: linear-gradient(
    90deg,
    rgba(157, 0, 255, 1) 0%,
    rgba(169, 143, 255, 1) 50%,
    rgba(203, 140, 255, 1) 100%
  );
}

.custom-purple-hover:hover {
  background-color: #4534fe;
}

.custom-purple-border {
  border-color: #675afe;
}

::selection {
  color: #fff;
  background: #675afe;
}

/* Custom scrollbar for select dropdowns */
select::-webkit-scrollbar {
  width: 8px;
}

select::-webkit-scrollbar-track {
  background: #fff;
}

select::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}